[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "~=2.10"

[dev-packages]
pre-commit = "~=2.8.2"
ansible-lint = "~=4.3.6"
docker = "~=4.3.1"
molecule = {extras = ["docker,lint"], version = "*"}

[requires]
python_version = "3.8"

# Molecule apparently refuses to install at 3.1.5, I _have_ to use the pre-release version
[pipenv]
allow_prereleases = true
