- name: Docker | Install apt dependencies
  become: 'yes'
  apt:
    name: '{{ docker_apt_dependencies }}'
    state: present

- name: Docker | Add apt-key
  become: 'yes'
  apt_key:
    url: '{{ docker_gpgkey_url }}'
    id: '{{ docker_gpgkey_fingerprint }}'
    state: present

- name: Docker | Add repository
  become: 'yes'
  apt_repository:
    repo: '{{ docker_apt_repo }}'
    state: present

- name: Docker | Install
  become: 'yes'
  apt:
    name: '{{ docker_apt }}'
    state: present
  notify: Restart Docker

- name: Docker | Run at boot
  become: 'yes'
  service:
    name: docker
    state: started
    enabled: true

- name: Docker | Check if in group
  shell: |
    set -o pipefail
    id -nG | grep docker
  args:
    executable: /bin/bash
  changed_when: false
  register: in_docker_group
  failed_when: in_docker_group.rc > 1

- name: Docker | Add user to Docker group
  become: 'yes'
  command: 'usermod -aG docker {{ ansible_user }}'
  when: in_docker_group.rc != 0
  notify: Docker user added
